.image-carousel {
    display: flex;
    justify-content: space-between;
  }
  
  .thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px; /* Set a fixed height for the thumbnail container */
    overflow-y: auto; /* Allow for vertical scrolling */
  }
  
  .thumbnail {
    width: 100px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .main-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-image-inner {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  
  #main-image {
    display: block;
    // max-width: none;
    // max-height: none;
  }
  
  /* Hide the scrollbar track and buttons */
  .thumbnail-container::-webkit-scrollbar {
    width: 0.5em;
  }
   
  .thumbnail-container::-webkit-scrollbar-track {
    display: none;
  }
   
  .thumbnail-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: none;
    border-radius: 20px;
  }
  
  .breadcrumb {
    height: 40px;
    text-align: center;
    line-height: 50px;
    
}
.breadcrumb-item.active {
    color: white;;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: pink;
}

  .productdetail {
    ul {
        li {
            margin: 20px 0 20px 0;
        }
    }
    .pricedetail {
        .price-box {
            border: 1px solid #ccc;
            padding: 20px;
          }
          
          .add-ons {
            display: flex;
            flex-direction: column;
          }
          
          .add-on {
            background-color: #eee;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
            text-align: left;
            transition: background-color 0.3s ease;
            width: 100%;
          }
          
          .add-on:hover {
            background-color: #ddd;
          }
          
          .add-on.selected {
            background-color: #007bff;
            color: #fff;
          }
          
          .add-on.selected:hover {
            background-color: #0069d9;
          }
          
    }
  }